@import url(styles/header.css);
@import url(styles/sobre.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);
@import url(styles/feedback.css);
@import url(styles/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-principal: 'inter';
    --cinza: #3A404E;
    --cinza-claro: #667085;
    --branco: #ffffff;
    --vermelho: #8E2424;
    --vermelho-claro: #8E24240D;
    --preto: #101828;
    --cinza-transparente: #eaecf0;
    --cor-footer: #F9FAFB;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: var(--fonte-principal);
}