.vagas-secao {
  padding: 96px 0;
}

.vagas-cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.vagas-cabecalho-titulo {
  border-radius: 16px;
  padding: 4px 12px;
  background-color: #8E24240D;
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 500;
  color: var(--vermelho);
}

.vagas-cabecalho-subtitulo {
  font-family: var(--fonte-principal);
  font-size: 36px;
  font-weight: 600;
  color: var(--preto);
}

.vagas-cabecalho-conteudo {
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: 400;
  color: var(--cinza-claro);
}

.vagas-cabecalho-imagem {
  width: 1216px;
}

.vagas {
  margin: 96px auto;
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.vagas-tipo {
  margin: 0 auto;
  width: 768px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vagas-tipo-titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--preto);
}

.vagas-tipo-vaga {
  padding: 24px 24px 28px 24px;
  border: 1px solid var(--cinza-transparente);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vagas-tipo-vaga-titulo {
  font-size: 18px;
  font-weight: 500;
  color: var(--preto);
}

.vagas-tipo-vaga-descricao {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--cinza-claro);
}